/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


								My code begins


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


								Defaults - Typography


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

html {
	font-family: 'Amaranth', sans-serif;
	font-size: 20px;
}



h1 {
	font-size: 2rem;
	font-family: 'Lemon', cursive;
	color:#C62A70;
	text-align: center;
	padding: 3vw 1vw 3vw 1vw;
	/* Since it seems like text-stroke property is non-standard. So, I found this article that explained how to use repeated text shadow, to get the same effect! https://dev.to/codingdudecom/everything-about-stroke-text-in-css-561i */
	text-shadow: 0 1px #30481D, 1px 0 #30481D, 0 -1px #30481D, -1px 0 #30481D;
}

h2 {
	font-size: 1.8rem;
	text-align: center;
	padding: 3vw 0px 3vw 0px;
	font-family: 'Lemon', cursive;
	color:#A3E66C;
	/* Since it seems like text-stroke property is non-standard. So, I found this article that explained how to use repeated text shadow, to get the same effect! https://dev.to/codingdudecom/everything-about-stroke-text-in-css-561i */
	text-shadow: 0 1px #30481D, 1px 0 #30481D, 0 -1px #30481D, -1px 0 #30481D;
}

h3 {
	font-size: 1.5rem;
	font-family: 'Lemon', cursive;
	color:#BFD5ED;
	/* Since it seems like text-stroke property is non-standard. So, I found this article that explained how to use repeated text shadow, to get the same effect! https://dev.to/codingdudecom/everything-about-stroke-text-in-css-561i */
	text-shadow: 0 1px #45586C, 1px 0 #45586C, 0 -1px #45586C, -1px 0 #45586C;
	padding-top: 26px;
}



.container {
	margin: 0 auto;
    background-color: #C62A70;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


								Defaults - Header and nav 


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


header img {
	width: 100%;
}

.logo a {
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
}


nav input {
	display:none;
}

.mobilemenu {
	cursor: pointer;
	color:#fff;
	height: 64px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	border: 1px #C62A70 solid;
	
	
}

.mobilemenu:hover {
	background-color: white;
	color:#C62A70;
	border: 1px #C62A70 solid;
}

nav ul {
	display:none;
}

nav input:checked ~ ul {
	display:block;
	padding: 20px;
	background-color: #fff;
}

nav ul li {
	padding: 10px;
}

.button {
	border: 1px #C62A70 solid;
	box-shadow: 0 3px 6px #00000016;
	border-radius: 19px;
	height: 64px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	color:#C62A70;
	
}

.button:hover, .onpage1 {
	color:white;
	background-color: #C62A70;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


								Defaults - Title banner


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.banner {
	padding-top: 50px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.banner img {
	width: 80%;
	padding: 20px;
}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


								Defaults - Sections!


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

section {
	background-color: white;
}

section .sidebyside {
	display: flex;
	flex-direction: column;
}

section .reverseorder {
	flex-direction: column-reverse;
}

.left-side {
	background-color: #C62A70;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 26px;
	text-align: center;
	
}

.sidebyside img {
	width: 100%;
}

.sidebyside iframe {
	width: 100%;
	height: 350px;
}

.buttonblue {
	background-color: #BFD5ED;
	border: 1px #707070 solid;
	box-shadow: 0 3px 6px #00000016;
	border-radius: 19px;
	width: 80%;
	height: 64px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	color:#000;
	margin-bottom: 20px;
}

.buttonblue:hover {
	background-color: #A3E66C;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


								Defaults - Footer


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
	padding-top: 39px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-around;	

}

.footer-leftside, .footer-rightside {
	background-color: #C62A70;
	display:flex;
	flex-direction: column;
	justify-content: center;
	height: 100px;
	color: white;
	text-align: center;

}

.footer {
	display: flex;
	justify-content: space-around;
}

.footer li a{
	text-decoration: none;
	color: white;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


								Media Queries min:1080px - Typography


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media only screen and (min-width:1080px) {

	h1 {
		font-size: 72px;
	}

	h2 {
		text-align: unset;
		font-size: 60px;
		padding: 26px 26px 28px 21px;
	}

	h3 {
		font-size: 40px;
	}

	body {
		background-image: url("../img/background.png");
		background-repeat:repeat;
		background-size:275px;
		/* To match the background in the mockup at 1920px width, I'm shifting it slightly. */
		background-position: -29%;
	}
/* The entire website is wrapped in a narrow container. The mockup is 1920 and the container is 1080. */

	.container {
		max-width: 1080px;
		
	}



	/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


									Media Queries min:1080px   - Header and nav 


	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
	.mobilemenu {
		display:none;
	}

	header {
		display: flex;
		background-color: #fff;
		padding-top: 28px;
	}

	nav {
		display:flex;
		flex-direction: column;
		justify-content: center;
	}

	nav ul{
		display: flex;
		gap: 42px;
		justify-content: space-evenly;
		padding-right:42px;
		
	}

	nav li {
		display: flex;
		justify-content: space-around;
		
		
	}

	.button {
		width: 119px;
	}

	


	.logoimage {
		width: 100%;
	}

	/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


									Media Queries min:1080px  - Title banner


	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	.banner {
		background-color: #fff;
		margin: 45px 0 45px;
		padding: 0 52px 0 52px;
		display:flex;
		flex-direction: row;
		align-items: center;
	}

	.banner h1 {
		padding-left: 40px;
		line-height: 94px;
	}

	.banner img {
		height: 514px;
		margin: 5px 0 10px 0;
		width: unset;

	}

	/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


								Media Queries min:1080px - Sections!


	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	

	section .sidebyside {
		display: grid;
		grid-template-columns: 1fr 1fr;
		
	}

	/* Image cover is used b/c the mockup has this image being overlapped by the left side. */

	.imgcover {
		margin-left: -55px;
		z-index: 1;
	}
	.left-side {
		z-index: 2;
	}


	.right-side {
		display:flex;
		flex-direction: column;
	}

	.buttonblue {
		width: 119px;
		margin-bottom: unset;
	}

		/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


									Media Queries min:1080px  - Footer


	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	footer {
		flex-direction: row;

	}

	.footer-leftside, .footer-rightside {
		flex-grow: 1;
		height: 253px;

	}

	.footer {
		display: flex;
		justify-content: center;
	}
	/* To style the right border on all but the last child:

			:not(:last-child)

			From: https://stackoverflow.com/questions/2573544/how-can-i-select-all-children-of-an-element-except-the-last-child */
	.footer li {
		padding: 0 5px 0 5px;
		
	}

	.footer li:not(:last-child) {
		border-right: 2px #fff solid;
	}

}