/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* The background is a pattern. */

html {
	/* fonts */
	font-family: 'Amaranth', sans-serif;
	font-size: 20px;
}

h1 {
	font-family: 'Lemon', cursive;
	font-size: 72px;
	color:#C62A70;
	/* Since it seems like text-stroke property is non-standard. So, I found this article that explained how to use repeated text shadow, to get the same effect! https://dev.to/codingdudecom/everything-about-stroke-text-in-css-561i */
	text-shadow: 0 1px #30481D, 1px 0 #30481D, 0 -1px #30481D, -1px 0 #30481D;
}

h2 {
	font-family: 'Lemon', cursive;
	font-size: 60px;
	color:#A3E66C;
	/* Since it seems like text-stroke property is non-standard. So, I found this article that explained how to use repeated text shadow, to get the same effect! https://dev.to/codingdudecom/everything-about-stroke-text-in-css-561i */
	text-shadow: 0 1px #30481D, 1px 0 #30481D, 0 -1px #30481D, -1px 0 #30481D;
	padding: 26px 26px 28px 21px;
}

h3 {
	font-family: 'Lemon', cursive;
	font-size: 40px;
	color:#BFD5ED;
	/* Since it seems like text-stroke property is non-standard. So, I found this article that explained how to use repeated text shadow, to get the same effect! https://dev.to/codingdudecom/everything-about-stroke-text-in-css-561i */
	text-shadow: 0 1px #45586C, 1px 0 #45586C, 0 -1px #45586C, -1px 0 #45586C;
	padding: 26px 26px 28px 21px;
}

body {
    background-image: url("../img/background.png");
	background-repeat:repeat;
	background-position:left center;
	background-size:1930px;
}

/* The entire website is wrapped in a narrow container. The mockup is 1920 and the container is 1080. 1080/1920=.5625=56.25% */

.container {
    width: 56.25%;
    margin: 0 auto;
    background-color: #C62A70;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


								Header and nav 


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

header {
	display: flex;
	background-color: #fff;
	padding-top: 28px;
}

nav {
	display:flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
}

nav ul{
	display: flex;
	justify-content: space-evenly;
}

nav ul li {

	
}

/* nav ul li:hover, .onpage {
	
	
} */

.button {
	border: 1px #C62A70 solid;
	box-shadow: 0 3px 6px #00000016;
	border-radius: 19px;
	width: 119px;
	height: 64px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	color:#C62A70
}

.button:hover, .onpage1 {
	color:white;
	background-color: #C62A70;
}


.logoimage {
	width: 403px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


								Title banner


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.banner {
	background-color: #fff;
	margin: 45px 0 45px;
	padding: 0 52px 0 52px;
	display:flex;
	align-items: center;
}

.banner h1 {
	padding-left: 40px;
	line-height: 94px;
}

.banner img {
	height: 514px;
	margin: 5px 0 10px 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


								Sections!


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

section {
	background-color: white;
	padding: 0 26px 26px;

}

section .sidebyside {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.sidebyside img {
	width: 100%;
}

.sidebyside iframe {
	width: 100%;
	height:100%;
}

.left-side {
	background-color: #C62A70;
}

.blacktext {
	color: #000;
}